body {
    background: #C0CDB5;
    color: rgb(30, 30, 30);
    font-family: Palatino;
    font-size: 15px;
}


h1, h2, h3 {
    font-family: 'Times', sans-serif;
}


h1 {
    color: pink;
    font-size: 33px;
    font-weight: 800;
}

h2 {
    color: rgb(149,165,149);
    font-size: 24px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: pink;
}

a:hover {
    color: pink;
    font-size: 7px;
}

div {
    margin: 20px;
}

.container {
    width: 700px;
    margin: 40px auto;
}

@media (max-width: 760px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 400px;
    }
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px, 0px;
    text-align: center;
}

.img-circle {
    width: 160px;
    border-radius: 50%;
}

.btn-pink {
    background-color: pink;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
}


.btn-pink:hover {
    background-color: #C0CDB5;
    color: white;
    padding: 13px 20px;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;

}
.list-inline i {
    font-size: 50px;
    color: grey
}

.list-inline i:hover {
    color: pink
}

#introduction p {
    margin-bottom: 40px;
}